%html
  %body

    %p
      Congrats,
      = @project_name
      is
      %span{style: 'color: green'}
        passing 
      all its tests.

    %p
      The #{@project_name} project page is at:
      %a{href: @project_url}
        = @project_url

    %p
      %br
      Cordially,
      %br
      Think 200