.row
  .col-sm-offset-2.col-sm-8

    .jumbotron
      %h1     Think 200,
      %p.lead but test for the unexpected:
      = render partial: 'layouts/get_started_form'

    .row.pr-points
      .col-sm-6
        %h4 
          %i.fa.fa-fw.fa-heart
          Free for Open Source
        %p 
          <strong>Free continuous black-box testing</strong> for Open Source apps is our way
          of giving back.

        %h4 
          %i.fa.fa-fw.fa-cloud-download
          Open Platform
        %p
          <strong>Export your tests as runnable Ruby</strong> code at any time. This is no walled garden; we built #{h APP_NAME} on an 
          %a{href: 'https://github.com/dogweather/rspec-webservice_matchers'}
            open source core 
          and open standards.

      .col-sm-6
        %h4
          %i.fa.fa-fw.fa-globe
          A monitor for ALL the Things
        %p  
          <strong>Uptime is just the beginning.</strong> We test SSL configuration, Google Pagespeed, temporary &amp; permanent redirects, all http status codes, and JSON schema.

        %h4
          %i.fa.fa-fw.fa-bug
          Test Driven Devops
        %p  
          <strong>Write a test and watch it fail.</strong> Now change your server configuration. When all your tests pass, you're done.