<% 
  panel_class = case tile.passed?
  when nil  # No tests
    'panel-default panel-muted'
  when true # Tests all pass
    'panel-default'
  else
    'panel-danger' 
  end
%>

<div class="col-md-3">
  <div class="panel <%= panel_class %>">
    <div class="panel-heading">
      <h3 class="panel-title"><%= link_to tile.name, tile %></h3>
    </div>
    <div class="panel-body">
      Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.    
    </div>
  </div>
</div>