<% 
  tile_partial = case tile.passed?
  when nil  # No tests
    'no_tests'
  when true # Tests all pass
    'passed'
  else      # A test failed
    'failed' 
  end
%>

<% unless @no_cols %>
<div class="<%= tile_col_class %>">
<% end %>
	<%= render partial: "projects/tile_#{tile_partial}", locals: {tile: tile} %>
<% unless @no_cols %>
</div>
<% end %>
