<% 
    if tile.incomplete?
        tile_partial = 'no_tests'
    else
        if [true, nil].include? tile.passed?
            tile_partial = 'passed'
        else
            tile_partial = 'failed'
        end
    end
%>

<% unless @no_cols %>
<div class="<%= tile_col_class %>">
<% end %>

<%= render partial: "projects/tile_#{tile_partial}", locals: {tile: tile} %>

<% unless @no_cols %>
</div>
<% end %>
