<div class="row">
    <div class="col-xs-offset-2 col-xs-8 col-sm-6 col-sm-offset-3 col-lg-offset-4 col-lg-4">
        <div class="page-header">
            <h1>Edit details about <%= link_to @project.name, @project %></h1>
        </div>
        <%= render 'form', { cancel_dest: @project } %>
    </div>
</div>
