<br>&nbsp;

<div class="row">
    <div class="col-xs-2 col-sm-3 col-md-2 col-lg-2">
      <p><%= link_to(font_awesome('plus') + ' New Project', new_project_path) %></p>
      <hr>
      <p>
<i>        Accounts are currently configured for a basic service level: Project tests are re-run
              automatically just once per day, but users can manually trigger tests as often
              as desired.
      </i>      </p>
      <p>
<i>        We're planning to offer a premium account type which will receive once-per-minute monitoring, plus extra dedicated queue workers for a quicker reponse. 
      </i>      </p>
      <p><%= render 'layouts/server_status' %></p>
      <p><%= render 'layouts/progress_bar' %></p>
    </div>

    <div class="col-xs-10 col-sm-9 col-md-10 col-lg-10 cards">
        <header>
            <h1>All Projects</h1>
        </header>

        <div class="row">
          <%= render partial: 'tile', collection: @projects %>
        </div>
    </div>
</div>
