<ol class="breadcrumb">
  <li class="active">Projects</li>
</ol>

<h1 class="text-muted">Projects</h1>

<table>
  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td>
          <h2><%= link_to project.name, project %></h2>
          <ul style="list-style-type: none; padding-left: 1em">
            <% project.apps.each do |app| %>
              <li><%= status_icon_for(app) %> <%= link_to app.name, app %></li>
            <% end %>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>
