<ol class="breadcrumb">
  <li class="active">Projects</li>
</ol>

<table>
  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td>
          <h2><%= link_to project.name, project %></h2>
          <ul>
            <% project.apps.each do |app| %>
              <li><%= link_to app.name, app %></li>
            <% end %>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>
