<br>&nbsp;

<div class="row">
    <div class="col-xs-2 col-sm-3 col-md-2 col-lg-2">
      <p><%= link_to(font_awesome('plus') + ' New Project', new_project_path) %></p>

      <hr>

      <p><%= render 'layouts/server_status' %></p>
      <p><%= render 'layouts/progress_bar' %></p>

      <hr>
      
      <small>
	<p>
          In beta: Projects are tested
          once per day. Users can manually trigger tests as often
          as desired.
	</p>
	<p>
          Premium accounts will receive continuous monitoring and extra dedicated queue workers. 
	</p>
      </small>

    </div>

    <div class="col-xs-10 col-sm-9 col-md-10 col-lg-10 cards">
        <header>
            <h1>All Projects</h1>
        </header>

        <div class="row">
          <%= render partial: 'tile', collection: @projects %>
        </div>
    </div>
</div>
