<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="page-header">
            <h1>Create a new project</h1>
        </div>
        <%= render 'form', { cancel_dest: projects_path } %>
    </div>
</div>
