/*
 * Overwritten by RailsBricks
 *
 *= require_self
 *= require 'prism'
 */
@import "framework_and_overrides";
// @import "bootstrap";
@import "font-awesome";


$content-bg-active: #ffffff;
// $content-bg:        mix($body-bg, $content-bg-active, 15%);
$content-bg: #ffffff;

.alert {
    margin-top: 1em;
}

ul {
    list-style-type: none;
}

.text-semi-muted {
    color: $text-muted;
}

#config-data {
    display: none;
}

.thumbnail-title {
    font-size: 150%;
}


.failed-icon {
    color: $alert-danger-text;
}

.passed-icon {
    color: $alert-success-text;
}

.panel-quiet {
    h3, .panel-body {
        color: #999999;
    }
}

.project-tile, .app-tile {
    box-shadow: 0 0 4px 0px #ccc;
    background-color: $content-bg;
    table {
        background-color: inherit;        
    }
}

.project-tile {
    .panel-body {
        height: 110px;
    }
}

.project-tile {
    .panel-body, .panel-heading, .panel-footer {
        cursor: pointer;
    }
}

.jumbotron {
    margin-top: 1em;
}

.tile-footer {
    text-align: 'center'
}

.project-tile-active {
    background-color: $content-bg-active;
    // This simply makes the shadow more
    // pronounced.
    // box-shadow: 0 0 5px 3px #bbb;    

    // This changes the shadow to the link color.
    box-shadow: 0 0 4px 0px #999;
}

.cards h1, .cards h2, h2.cards {
    color: $text-muted;
    font-size: $font-size-base - 2px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-top: 0.3em;
}

.navbar-brand {
    font-weight: bold;
    font-size:   200%;
}

.shared-links {
    line-height: 1.2em;
    margin-top: 3em;
    font-size: 90%;
}

.jumbotron {
    h1, p {
        text-align: center;
    }
}

.pr-points {
    p {
        margin-bottom: 2em;
        strong {
            font-weight: normal;
        }
    }
}

ul.text-menu {
    list-style: none;
    padding-left: 0;
    li {
	padding-bottom: 0.5em;
    }
}

.app-tile {
    margin-bottom: 2em;

    h3 {
	margin: 0;
    }
    h4 {
	margin: 0.75em 0 0 0;
	font-weight: normal;
	font-size: 160%;
    }
}

.tested-at {
    text-align: center
}

.test-button:hover {
    color: $link-color;
}