/*
 * Overwritten by RailsBricks
 *
 *= require_self
 */
@import "framework_and_overrides";
// @import "bootstrap";
 @import "font-awesome";


$content-bg-active: #ffffff;
$content-bg:        mix($body-bg, $content-bg-active, 15%);

$text-semi-muted:   darken($text-muted, 20%);


#config-data {
    display: none;
}

.thumbnail-title {
    font-size: 150%;
}


.failed-icon {
    color: $alert-danger-text;
}

.passed-icon {
    color: $alert-success-text;
}

.panel-quiet {
    h3, .panel-body {
        color: #999999;
    }
}

.project-tile {
     box-shadow: 0 0 4px 0px #ccc;
     background-color: $content-bg;
     table {
         background-color: inherit;        
     }
}

.panel-body, .test-button {
    cursor: pointer;
}

.tile-footer {
    text-align: 'center'
}

.project-tile-active {
    background-color: $content-bg-active;
    // This simply makes the shadow more
    // pronounced.
    // box-shadow: 0 0 5px 3px #bbb;    

    // This changes the shadow to the link color.
    box-shadow: 0 0 4px 0px #999;
}

.cards h1, .cards h2 {
    color: $text-semi-muted;
    font-size: $font-size-base - 2px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-top: 0.3em;
}

.navbar-brand {
    font-weight: bold;
}

.shared-links {
    line-height: 1.2em
}

.jumbotron {
    h1, p {
        text-align: center;
    }
}

.pr-points {
    p {
        margin-bottom: 2em;
        strong {
            font-weight: normal;
        }
    }
}