/*
 * Overwritten by RailsBricks
 *
 *= require_self
 */
@import "framework_and_overrides";
// @import "bootstrap";
// @import "font-awesome";


$content-bg-active: #ffffff;
$content-bg:        mix($body-bg, $content-bg-active, 15%);

$text-semi-muted:   darken($text-muted, 20%);


.thumbnail-title {
    font-size: 150%;
}


.failed-icon {
    color: $alert-danger-text;
}

.passed-icon {
    color: $alert-success-text;
}

.panel-quiet {
    h3, .panel-body {
        color: #999999;
    }
}

.project-tile {
    height: 180px;
    cursor: pointer;
    box-shadow: 0 0 4px 0px #bbb;
    background-color: $content-bg;
    table {
        background-color: inherit;        
    }
}

.project-tile-active {
    background-color: $content-bg-active;
    // This simply makes the shadow more
    // pronounced.
    // box-shadow: 0 0 5px 3px #bbb;    

    // This changes the shadow to the link color.
    box-shadow: 0 0 4px 0px #999;
}

.cards h1, .cards h2 {
    color: $text-semi-muted;
    font-size: $font-size-base - 2px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-top: 0.3em;
}

.navbar-brand {
    font-weight: bold;
}