%h3 Activity
= render 'layouts/progress_bar'

.alert.alert-info
  %p
    %strong
      Work in Progress:
    This Activity area will show the queue progress
    and recent important events.
  %p
    = feedback_link
