#footer
  .container
    .row.footer-first-row
      .col-xs-12.text-center
        %p
          \© 2014 —
          \#{APP_NAME} —
          %a{href: "mailto:#{CONTACT_EMAIL}"} Contact 
          —
          %a{href: "https://twitter.com/Think200App"}= fa_icon('fa-twitter', 'fa-lg')
          %a{href: "https://github.com/dogweather/rspec-webservice_matchers"}= fa_icon('fa-github-alt', 'fa-lg')
