<div id="footer">
  <div class="container">
    
    <div class="row footer-first-row">
      
      <div class="col-xs-12 text-center">
        <p>
          <a href="https://twitter.com/Think200App"><%= fa_icon('fa-twitter', 'fa-2x') %></a>
          <a href="https://github.com/dogweather/rspec-webservice_matchers"><%= fa_icon('fa-github-alt', 'fa-2x') %></a>
        </p>
        <p><small>
          &copy; 2014 &mdash; 
          <%= APP_NAME %> &mdash; 
          <a href="mailto:<%= CONTACT_EMAIL %>">Contact</a>
        </small></p>
      </div>
      
    </div>
    
  </div>
</div>
