.form{role: 'form'}
  .form-group
    .row
      .col-xs-12
        .input-group
          %input.form-control.focus-here{type: 'text', placeholder: 'Enter a URL or domain name'}
            %span.input-group-btn
              %button.btn.btn-success{type: 'button'}
                Test it!

