.form{role: 'form'}
  .form-group
    .row
      .col-sm-10
        %input.form-contol.focus-here.input-lg{type: 'text', placeholder: 'Enter a URL or domain name', style: 'width: 100%'}
      .col-sm-2
        %button.btn.btn-success.btn-lg{type: 'submit'} Test it
