.form{role: 'form'}
  .form-group
    .row
      .col-xs-12
        .input-group
          %input.form-control.input-lg.focus-here{type: 'text', placeholder: 'yoursite.com'}
            %span.input-group-btn
              %button.btn.btn-success.btn-lg{type: 'button'}
                = fa_icon 'fa-flash'
                Test it

