.form{role: 'form'}
  .form-group
    .row
      .col-xs-10
        %input.form-contol.focus-here.input-lg{disabled: 'disabled', type: 'text', placeholder: 'Enter a URL or domain name', style: 'width: 100%'}
      .col-xs-2
        %button.btn.btn-success.btn-lg{type: 'submit'} Test it
