- flash.each do |name, msg|
    - next if msg =~ /Signed in successfully/

    - if msg.is_a?(String)
        %div{class: "alert alert-#{name == :notice ? "success" : "danger"} fade in"}
            %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", type: 'button'} &times;
            = content_tag :div, msg, :id => "flash_#{name}"