<% if user_signed_in? %>

    <li class="<%= is_active?(projects_path) %>" style="font-size: 130%"><%= link_to fa_icon('fa-home', 'fa-lg'), projects_path %></li>

    <% if current_user.admin? %>
        <li class="<%= is_active?(admin_root_path) %>"><%= link_to "Admin", admin_root_path %></li>
    <% end %>

<% end %>
