-if user_signed_in?
  %li{class: is_active?(edit_user_registration_path)}
    = link_to "Account", edit_user_registration_path
  %li
    = link_to "Sign out", destroy_user_session_path, data:{method: :delete}

-else
  %li= link_to "Sign in", new_user_session_path
  %li= link_to "Sign up", new_user_registration_path

